@CHARSET "UTF-8";

form{
	margin: 0 auto; 
	width:400px;
	margin-top: 200px;
	text-align: center;
}

input[type=text], select, input[type=password], input[type=email],input[type=date] {
    width:100%;
    padding: 9px;
    margin: 7px 0;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 9px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.blob{
	width: 100%;
    background-color: #1E90FF;
    color: white;
    padding: 6px 0;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    display:block;
    text-decoration:none;
}

.blob:hover {
    background-color: #0077ea;
}



.blobs{
	margin: 0 auto; 
	width:400px;
	margin-top: 50px;
	text-align: center;
}

