@CHARSET "UTF-8";
.data{
	list-style-type: none;
	width: 70%;
	margin: 0 auto;
	margin-top:30px;
}

.Add{
	background:#00478c !important;
}

.Add:hover{
	background:#002a54 !important;
}

.data li {
	border-radius: 10px; 
	border: 1px solid red;
	background:#262626;
	float:left;
	margin: 20px;
	width: 27%;
	color: white;
	height: 135px; 
	text-align: center; 
	display: flex;
  	align-items: center;
  	justify-content: center;
  	cursor: pointer;
}

.ticket{
	border-radius: 10px; 
	border: 1px solid red;
	background:#262626;
	
	color: white;
	height: 135px; 
	width:90% !important;
	display:inline !important;
	text-align:initial !important;
    cursor:default !important;
}

.title1{
	margin-left:30px;
	margin-top:20px;
	display:inline-block;
	clear:both;
}

.title2{
	margin-right:30px;
	margin-top:20px;
	display:inline-block;
	float:right;
}

.number{
	display:inline-block;
	margin-left:30px;
	
	
}

.Add1{
	width:43% !important;
}
.Back{
	width:43% !important;
}

.dedaline{
	margin-right:30px;
	margin-top:20px;
	display:inline-block;
	float:right;
}

.pay{
	margin-right:30px;
	margin-top:10px;
	display:inline-block;
	float:right;
	background-color: #4CAF50;
    color: white;
    padding: 9px;
    border-radius: 6px;
    cursor:pointer;
}

.pay:hover{
	background-color: #45a049;
}

.data li:hover{
	background:#000000 ;
}

.ticket:hover{
	background:#262626 !important;
}

body {
	margin:0px;
	
}

html {
	background:#E0E0E0 ;
}






.nav ul{
	list-style-type: none;
    background-color: #000000;
    overflow: hidden;
    margin:0px;
    border-bottom: 4px solid #ff0000;
}

.nav ul li{
	display: inline;
	float:right;
	height:100%;
}

.nav ul li.title{
	display: inline;
	float:left;
	height:100%;
}

.nav ul li a{
	display:block;
	padding: 14px 32px;
	text-align: center;
	color:white;
	text-decoration:none;
}

.nav ul li a:hover {
    background-color: #CD5C5C;
}

.nav ul li a.active {
    background-color: #ff0000; !important
}

.nav ul li a.title{
	float:left;
	display:block;
	padding: 14px 32px;
	text-align: center;
	color:white;
	text-decoration:none;
}

.nav ul li a.title:hover{
	background-color: #000000;
}

